 

<p>
  <strong>Paycheck:</strong>
  <%= @erp_operating_expense.paycheck %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @erp_operating_expense.insurance %>
</p>

<p>
  <strong>Office:</strong>
  <%= @erp_operating_expense.office %>
</p>

<p>
  <strong>Utilities:</strong>
  <%= @erp_operating_expense.utilities %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @erp_operating_expense.internet %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @erp_operating_expense.phone %>
</p>

<p>
  <strong>Rt:</strong>
  <%= @erp_operating_expense.rt %>
</p>

<p>
  <strong>Salesforce:</strong>
  <%= @erp_operating_expense.salesforce %>
</p>

<p>
  <strong>Sf admin:</strong>
  <%= @erp_operating_expense.sf_admin %>
</p>

<p>
  <strong>Sms magic:</strong>
  <%= @erp_operating_expense.sms_magic %>
</p>

<p>
  <strong>Lindexed:</strong>
  <%= @erp_operating_expense.lindexed %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @erp_operating_expense.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @erp_operating_expense.end_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @erp_operating_expense.company.try(:name) %>
</p>

<hr /><%= link_to 'Edit', edit_erp_operating_expense_path(@erp_operating_expense) %> |
<%= link_to 'Back', erp_operating_expenses_path %>
