 

<p>
  <strong>Date:</strong>
  <%= @company_name.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @company_name.amount %>
</p>

<p>
  <strong>Payroll type:</strong>
  <%= @company_name.payroll_type %>
</p>

<p>
  <strong>Search engine:</strong>
  <%= @company_name.search_engine %>
</p>

<p>
  <strong>Month:</strong>
  <%= @company_name.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @company_name.year %>
</p>

<p>
  <strong>Miscellaneous expense type:</strong>
  <%= @company_name.miscellaneous_expense_type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @company_name.company_id %>
</p>

<hr /><%= link_to 'Edit', edit_company_name_path(@company_name) %> |
<%= link_to 'Back', company_names_path %>
