 

<p>
  <strong>Southwest:</strong>
  <%= @marketing_fixed_expense.southwest %>
</p>

<p>
  <strong>West coast:</strong>
  <%= @marketing_fixed_expense.west_coast %>
</p>

<p>
  <strong>Midwest:</strong>
  <%= @marketing_fixed_expense.midwest %>
</p>

<p>
  <strong>New england:</strong>
  <%= @marketing_fixed_expense.new_england %>
</p>

<p>
  <strong>South east:</strong>
  <%= @marketing_fixed_expense.south_east %>
</p>

<p>
  <strong>Sober recover:</strong>
  <%= @marketing_fixed_expense.sober_recover %>
</p>

<p>
  <strong>Easy breeze:</strong>
  <%= @marketing_fixed_expense.easy_breeze %>
</p>

<p>
  <strong>Addiction advisor:</strong>
  <%= @marketing_fixed_expense.addiction_advisor %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @marketing_fixed_expense.visible %>
</p>

<p>
  <strong>Air time:</strong>
  <%= @marketing_fixed_expense.air_time %>
</p>

<p>
  <strong>Rehabs hq:</strong>
  <%= @marketing_fixed_expense.rehabs_hq %>
</p>

<p>
  <strong>Drug use today:</strong>
  <%= @marketing_fixed_expense.drug_use_today %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @marketing_fixed_expense.facebook %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @marketing_fixed_expense.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @marketing_fixed_expense.end_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @marketing_fixed_expense.company.try(:name) %>
</p>

<hr /><%= link_to 'Edit', edit_marketing_fixed_expense_path(@marketing_fixed_expense) %> |
<%= link_to 'Back', marketing_fixed_expenses_path %>
