 

<h1>Miscellaneous Expenses</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Company</th>
      <th>Month</th>
      <th>Year</th>
      <th>Miscellaneous expense type</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @miscellaneous_expenses.each do |miscellaneous_expense| %>
      <tr>
        <td><%= miscellaneous_expense.company.try(:name) %></td>
        <td><%= miscellaneous_expense.month %></td>
        <td><%= miscellaneous_expense.year %></td>
        <td><%= miscellaneous_expense.miscellaneous_expense_type %></td>
        <td><%= link_to 'Show', miscellaneous_expense_path(miscellaneous_expense) %></td>
        <td><%= link_to 'Edit', edit_miscellaneous_expense_path(miscellaneous_expense) %></td>
        <td><%= link_to 'Destroy', miscellaneous_expense_path(miscellaneous_expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Miscellaneous Expense', new_miscellaneous_expense_path %>
