 

<p>
  <strong>Company:</strong>
  <%= @user.company.try(:name) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @user.permission.map{|p| p.sub('can_', '').humanize}.join(', ') %>
</p>

<hr /><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
