 

<p>
  <strong>Cable:</strong>
  <%= @utility_expense.cable %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @utility_expense.gas %>
</p>

<p>
  <strong>Electric:</strong>
  <%= @utility_expense.electric %>
</p>

<p>
  <strong>Water:</strong>
  <%= @utility_expense.water %>
</p>

<p>
  <strong>Food:</strong>
  <%= @utility_expense.food %>
</p>

<p>
  <strong>Yoga:</strong>
  <%= @utility_expense.yoga %>
</p>

<p>
  <strong>Acupunture:</strong>
  <%= @utility_expense.acupunture %>
</p>

<p>
  <strong>Auto:</strong>
  <%= @utility_expense.auto %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @utility_expense.fuel %>
</p>

<p>
  <strong>Landscaping:</strong>
  <%= @utility_expense.landscaping %>
</p>

<p>
  <strong>Cleaning:</strong>
  <%= @utility_expense.cleaning %>
</p>

<p>
  <strong>Total per house:</strong>
  <%= @utility_expense.total_per_house %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @utility_expense.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @utility_expense.end_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @utility_expense.company.try(:name) %>
</p>

<hr /><%= link_to 'Edit', edit_utility_expense_path(@utility_expense) %> |
<%= link_to 'Back', utility_expenses_path %>
