<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.try(:name) %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>

<hr />
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
