 

<p>
  <strong>Hosting:</strong>
  <%= @sunshine_center_other_expense.hosting %>
</p>

<p>
  <strong>Blogging:</strong>
  <%= @sunshine_center_other_expense.blogging %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @sunshine_center_other_expense.facebook %>
</p>

<p>
  <strong>Liability insurance:</strong>
  <%= @sunshine_center_other_expense.liability_insurance %>
</p>

<p>
  <strong>Heath insurance:</strong>
  <%= @sunshine_center_other_expense.heath_insurance %>
</p>

<p>
  <strong>Detox:</strong>
  <%= @sunshine_center_other_expense.detox %>
</p>

<p>
  <strong>Workers compensation:</strong>
  <%= @sunshine_center_other_expense.workers_compensation %>
</p>

<p>
  <strong>Fica:</strong>
  <%= @sunshine_center_other_expense.fica %>
</p>

<p>
  <strong>Office supplies:</strong>
  <%= @sunshine_center_other_expense.office_supplies %>
</p>

<p>
  <strong>Cort:</strong>
  <%= @sunshine_center_other_expense.cort %>
</p>

<p>
  <strong>Kipu:</strong>
  <%= @sunshine_center_other_expense.kipu %>
</p>

<p>
  <strong>Miscellaneous:</strong>
  <%= @sunshine_center_other_expense.miscellaneous %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sunshine_center_other_expense.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sunshine_center_other_expense.end_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @sunshine_center_other_expense.company.try(:name) %>
</p>

<hr /><%= link_to 'Edit', edit_sunshine_center_other_expense_path(@sunshine_center_other_expense) %> |
<%= link_to 'Back', sunshine_center_other_expenses_path %>
