 

<h1>Revenues</h1>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Type of revenue</th>
      <th>Number of deals</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Company</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @revenues.each do |revenue| %>
      <tr>
        <td><%= revenue.company_name %></td>
        <td><%= revenue.type_of_revenue %></td>
        <td><%= revenue.number_of_deals %></td>
        <td><%= revenue.amount %></td>
        <td><%= revenue.date %></td>
        <td><%= revenue.company.try(:name) %></td>
        <td><%= link_to 'Show', revenue %></td>
        <td><%= link_to 'Edit', edit_revenue_path(revenue) %></td>
        <td><%= link_to 'Destroy', revenue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<hr /><%= link_to 'New Revenue', new_revenue_path %>
